	
<div class="page-header"><h1>Model Generaters</h1></div>
<div class="panel panel-default">
	<div class="panel-heading"><h3>Brite</h3></div>
	<ul class="list-group">
		<li class="list-group-item">
			<%= link_to "Top AS Waxman Router Waxman", controller: "brite", action: "index", :form_type => 0 %>
		</li>
		<li class="list-group-item">
			<%= link_to "Top AS Barabasi Router Waxman", controller: "brite", action: "index", :form_type => 1 %>
		</li>
		<li class="list-group-item">
			<%= link_to "AS Waxman", controller: "brite", action: "index", :form_type => 2 %>
		</li>
		<li class="list-group-item">
			<%= link_to "Router Barabasi", controller: "brite", action: "index", :form_type => 3 %>
		</li>
		<li class="list-group-item">
			<%= link_to "Router Waxman", controller: "brite", action: "index", :form_type => 4 %>
		</li>
	</ul>
</div>

<div class="panel panel-default">
	<div class="panel-heading"><h3>FNSS</h3></div>
	<ul class="list-group">
		<li class="list-group-item">
			<%= link_to "Datacenter", controller: "fnss", action: "index", :form_type => 0 %>
		</li>
		<li class="list-group-item">
			<%= link_to "Simplemodels", controller: "fnss", action: "index", :form_type => 1 %>
		</li>
	</ul>
</div>
