<div class="col-md-12">
	<div class="table-responsive">
		<table class="table table-bordered table-striped">

			<thead>
				<th><h3>AS Only</h3></th>
				<th><h3>Values</h3></th>
			</thead>
			<tbody>
			
			<tr>
				<th class="text-nowrap" scope="row">Name</th>
				<td class="col-md-5"><%= number_field :aswaxman_form, :Name, :value => 3, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">N</th>
				<td class="col-md-5"><%= number_field :aswaxman_form, :N, :value => 1000, :options => {:min=>1,:max=>3} %></td>
			<tr>
				<th class="text-nowrap" scope="row">HS</th>
				<td class="col-md-5"><%= number_field :aswaxman_form, :HS, :value => 1000, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">LS</th>
				<td class="col-md-5"><%= number_field :aswaxman_form, :LS, :value => 100, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">NodePlacement</th>
				<td class="col-md-5"><%= select :aswaxman_form, :NodePlacement, options_for_select([["Random",1],
				["HeavyTailed",2]]) %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">GrowthType</th>
				<td class="col-md-5"><%= select :aswaxman_form, :GrowthType, options_for_select([["Incremental",1],
				["All",2]]) %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">m</th>
				<td class="col-md-5"><%= number_field :aswaxman_form, :m, :value => 3, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">alpha</th>
				<td class="col-md-5"><%= number_field :aswaxman_form, :alpha, :value => 0.15 %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">beta</th>
				<td class="col-md-5"><%= number_field :aswaxman_form, :beta, :value => 0.2 %></td>
			</tr>
			
			<thead>
				<th><h3>Waxman</h3></th>
				<th></th>
			</thead>
			
			<tr>
				<th class="text-nowrap" scope="row">BWDist</th>
				<td class="col-md-5"><%= select :aswaxman_form, :BWDist, options_for_select([["Constant", 1], 
				["Uniform", 2],["HeavyTailed",3],["Exponetial",4]]) %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">BWMin</th>
				<td class="col-md-5"><%= number_field :aswaxman_form, :BWMin, :value => 10.0 %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">BWMax</th>
				<td class="col-md-5"><%= number_field :aswaxman_form, :BWMax, :value => 1024.0 %></td>
			</tr>	
		</tbody>
		</table>
	</div>
</div>
