<div class="col-md-12">
	<div class="table-responsive">
		<table class="table table-bordered table-striped">

			<thead>
				<th><h3>Top-Down</h3></th>
				<th><h3>Values</h3></th>
			</thead>
			<tbody>
			<tr>
				<th class="text-nowrap" scope="row">name</th>
				<td><%= number_field :twb_form, :Name, :value => 0, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">edge connect</th>
				<td><%= select :twb_form, :edgeConn, options_for_select([["Smallest Nonleaf", 1], 
				["Random", 2],["Smallest Deg",3],["k-Degree",4]]) %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">k</th>
				<td><%= number_field :twb_form, :k, :value => 1, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">BWInter</th>
				<td><%= select :twb_form, :BWInter, options_for_select([["Constant", 1], 
				["Uniform", 2],["HeavyTailed",3],["Exponetial",4]]) %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">BWInterMin</th>
				<td><%= number_field :twb_form, :BWInterMin, :value => 100000000 %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">BWInterMax</th>
				<td><%= number_field :twb_form, :BWInterMax, :value => 100000000 %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">BWIntera</th>
				<td><%= select :twb_form, :BWIntera, options_for_select([["Constant", 1], 
				["Uniform", 2],["HeavyTailed",3],["Exponetial",4]]) %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">BWInteraMin</th>
				<td><%= number_field :twb_form, :BWInteraMin, :value => 100000000 %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">BWInteraMax</th>
				<td><%= number_field :twb_form, :BWInteraMax, :value => 10000000 %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">Duplication</th>
				<td><%= number_field :twb_form, :Duplication, :value => 0.0 %></td>
			</tr>
	
			<thead>
				<th><h3>AS</h3></th>
				<th></th>
			</thead>
	
			<tr>
				<th class="text-nowrap" scope="row">N</th>
				<td><%= number_field :twb_form, :__N, :value => 5, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">HS</th>
				<td><%= number_field :twb_form, :HS, :value => 1000, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">LS</th>
				<td><%= number_field :twb_form, :LS, :value => 1000, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">NodePlacement</th>
				<td><%= select :twb_form, :NodePlacement, options_for_select([["Random",1],["HeavyTailed",2]]) %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">m</th>
				<td><%= number_field :twb_form, :m_, :value => 1, :options => {:min=>1,:max=>3} %></td>
			</tr>

			<thead>
				<th><h3>AS Level: Waxman</h3></th>
				<th></th>
			</thead>

			<tr>
				<th class="text-nowrap" scope="row">GrowthType</th>
				<td><%= select :twb_form, :__GrowthType, options_for_select([["Incremental",1],["All",2]]) %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">alpha</th>
				<td><%= number_field :twb_form, :alpha, :value => 0.15 %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">beta</th>
				<td><%= number_field :twb_form, :beta, :value => 0.2 %></td>
			</tr>
	
			<thead>
				<th><h3>Router</h3></th>
				<th></th>
			</thead>
	
			<tr>
				<th class="text-nowrap" scope="row">N</th>
				<td><%= number_field :twb_form, :__N_, :value => 5, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">HS</th>
				<td><%= number_field :twb_form, :HS_, :value => 1000, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">LS</th>
				<td><%= number_field :twb_form, :LS_, :value => 1000, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">NodePlacement</th>
				<td><%= select :twb_form, :NodePlacement_, options_for_select([["Random",1],["HeavyTailed",2]]) %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">m</th>
				<td><%= number_field :twb_form, :m_, :value => 1, :options => {:min=>1,:max=>3} %></td>
			</tr>

			</tbody>
		</table>
	</div>
</div>
