<div class="col-md-9">
		<div class="table-responsive">
			<table class="table table-bordered table-striped">

		<thead>
			<th><h3>Top-Down</h3></th>
			<th><h3>Values</h3></th>
		</thead>
		<tbody>
			<tr>
				<th class="text-nowrap" scope="row">name</th>
				<td><%= number_field :tbw_form, :seed, :value => 0, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">edge connect </th>
				<td><%= select :tbw_form, :edgeConn, options_for_select([["Smallest Nonleaf", "Smallest Nonleaf"], 
				["Random", "Random"],["Smallest Deg","Smallest Deg"],["k-Degree","k-Degree"]]) %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">k</th>
				<td><%= number_field :tbw_form, :k, :value => 1, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">BWInter</th>
				<td><%= select :tbw_form, :BWInter, options_for_select([["Constant", "Constant"], 
				["Uniform", "Uniform"],["HeavyTailed","HeavyTailed"],["Exponetial","Exponetial"]]) %></td>
			<tr>
				<th class="text-nowrap" scope="row">BWInterMin</th>
				<td><%= number_field :tbw_form, :BWInterMin, :value => 100000000 %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">BWInterMax</th>
				<td><%= number_field :tbw_form, :BWInterMax, :value => 100000000 %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">BWIntera</th>
				<td><%= select :tbw_form, :BWInter, options_for_select([["Constant", "Constant"], 
				["Uniform", "Uniform"],["HeavyTailed","HeavyTailed"],["Exponetial","Exponetial"]]) %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">BWInteraMin</th>
				<td><%= number_field :tbw_form, :BWInteraMin, :value => 100000000 %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">BWInteraMax</th>
				<td><%= number_field :tbw_form, :BWInteraMax, :value => 10000000 %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">Duplication</th>
				<td><%= number_field :tbw_form, :Duplication, :value => 0.0 %></td>
			</tr>
	
			<thead>
				<th><h3>AS</h3></th>
			</thead>
	
			<tr>
				<th class="text-nowrap" scope="row">N</th>
				<td><%= number_field :tbw_form, :N, :value => 5, :options => {:min=>1,:max=>3} %></td>

			<tr>
				<th class="text-nowrap" scope="row">HS</th>
				<td><%= number_field :tbw_form, :HS, :value => 1000, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">LS</th>
				<td><%= number_field :tbw_form, :LS, :value => 1000, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">NodePlacement</th>
				<td><%= select :tbw_form, :BWInter, options_for_select([["Random","Random"],
			["HeavyTailed","HeavyTailed"]]) %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">m</th>
				<td><%= number_field :tbw_form, :m, :value => 1, :options => {:min=>1,:max=>3} %></td>
			</tr>

			<thead>
				<th><h3>Router</h3></th>
			</thead>

			<tr>
				<th class="text-nowrap" scope="row">N</th>
				<td><%= number_field :tbw_form, :N, :value => 5, :options => {:min=>1,:max=>3} %></td>

			<tr>
				<th class="text-nowrap" scope="row">HS</th>
				<td><%= number_field :tbw_form, :HS, :value => 1000, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">LS</th>
				<td><%= number_field :tbw_form, :LS, :value => 1000, :options => {:min=>1,:max=>3} %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">NodePlacement</th>
				<td><%= select :tbw_form, :BWInter, options_for_select([["Random","Random"],
			["HeavyTailed","HeavyTailed"]]) %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">m</th>
				<td><%= number_field :tbw_form, :m, :value => 1, :options => {:min=>1,:max=>3} %></td>
			</tr>
	
			<thead>
				<th><h3>Router Level: Waxman</h3></th>
			</thead>

			<tr>
				<th class="text-nowrap" scope="row">GrowthType</th>
				<td><%= select :tbw_form, :BWInter, options_for_select([["Incremental","Incremental"],
			["All","All"]]) %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">alpha</th>
				<td><%= number_field :tbw_form, :alpha, :value => 0.15 %></td>
			</tr>
			<tr>
				<th class="text-nowrap" scope="row">beta</th>
				<td><%= number_field :tbw_form, :beta, :value => 0.2 %></td>
			</tr>
		</tbody>
		</table>
	</div>
</div>
